html {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
	height: 100%;
}

body {
    background-color: #f6f6f6;
	height: 100%;
}

html, body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Lato';
    font-weight: 300;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

h3, h4 {
    font-family: 'Open Sans';
    font-weight: normal;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

a {
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

#main {
    background-color: #fefefe;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

#main h1,
#main h2,
#main h3,
#main h4 {
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

#main p {
    margin: 0.5em 0;
}

#main {
	height: 100%;
}

.stream-chat {
    float: right;
	min-width:322px;
	width:25%;
}

.stream-chat iframe {
    min-width: 320px;
	width:100%;
    height: inherit;
    min-height:300px;
    border:1;
}

.stream-footer {
    padding-top: 0px;
    clear: both;
}


.button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);
    padding: 6px 12px;
    margin: 0.5em 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);

    text-decoration: none;
    color: #101010;
}

.button-right {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);
    padding: 6px 12px;
    margin: 0.5em 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    float: right;
    text-decoration: none;
    color: #101010;
}

.button-left {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);
    padding: 6px 12px;
    margin: 0.5em 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    float: left;
    text-decoration: none;
    color: #101010;
}

.button:hover,
.button:active,
.button:focus,
.button-right:hover,
.button-right:active,
.button-right:focus,
.button-left:hover,
.button-left:active,
.button-left:focus {
    outline: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
    border-color: #888888;
    background-color: #f2f2f2;
}

.error {
    color: red;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.clear {
    clear: both;
}
.stream #content {
	float:left;
	width:70%;
	min-width:144px;
}
.stream #twitterfeed {
	float:left;
	width:70%;
	min-width:144px;
}
#content object{
	width:100%;
	height: inherit;
}
#content iframe{
	width:100%;
	height: inherit;
}
.stream{
	height: 81%;
}

#twitterfeed > iframe {
	height: 100%;
}


div.stream > div {
	height: 100%;
}

@media {/*
    #main {
        float:center;
        padding-left: 10px;
        padding-right: 10px;
    }

    

    .stream iframe {
        float:left;
        width: 853px;
        height:480px;
    }
   
    .stream-chat {
        float: right;
        width: 380px;
        max-width: 380px;
        height: 81%;
        min-height:480px;
    }*/ 
}

@media (max-width: 1200px)
	and (min-width:1000px){
    .stream #content{
		width:65%;
		}
	.stream #twitterfeed{
		width:65%;
		}
}

@media (max-width: 1000px) {
    .stream > div{
		width:80%;
		margin:2px 10%;
		}
	.stream #content {
		width:80%;
		max-height: 440px;
	}
	.stream #twitterfeed {
		width:80%;
		max-height: 440px;
	}
}
